.store {
    display: flex;
    margin:0px auto;
    padding:10px;
    width:80%;
    max-width:1440px;
}

@media only screen and (max-width:768px){
    .store {
        width:100%;
        padding:0px;
    }
}