/* You can add global styles to this file, and also import other style files */
body{
    font-family: cursive, 'Courier New', Courier, monospace;
    font-size:16px;
}
button {
    font-family: cursive, 'Courier New', Courier, monospace;
}