<div class="store__cart">
  <ul>
    <li *ngIf="cartItems.length == 0; else catalogueList">
      <span>Shopping cart empty!</span>
    </li>
    <ng-template #catalogueList>
      <li *ngFor="let item of cartItems; let i = index">
        {{item.name}} - ${{item.cost * item.quantity}}
        <div class="adjust">
          <button class="add" (click)="addToCartFromCart(item.cost, i)">add</button>
          <span>{{item.quantity}}</span>
          <button class="remove" (click)="removeFromCart(item.cost, i)">remove</button>
        </div>
      </li>
    </ng-template>
  </ul>
  <p>Total items: {{totalItemNum}}</p>
  <button class="payment" (click)="sendTransaction()">Checkout: ${{total}}</button>
  <p>{{result}}</p>
</div>