.store__cart {
    width:220px;
    padding-left:25px;
    position: -webkit-sticky;
    position: sticky;
    top:10px;
    ul {
        list-style:none;
        height:420px;
        overflow-y:auto;
        border:1px solid #ccc;
        width:95%;
        padding:0px;
        li {
            padding:5%;
            &:nth-child(even){
                background-color:#eee;
            }
            .adjust {
                display:flex;
                margin-top:5px;
                span {
                    flex-grow:1;
                }
                button {
                    border: 0;
                    color: #fff;
                    cursor:pointer;
                    width:45%;
                    margin:0px 5px;
                    &.add {
                        background-color:rgba(0,153,0,0.7);
                        &:hover{
                            background-color:rgba(0,153,0,1);
                        }
                    }
                    &.remove {
                        background-color:rgba(204,0,0,0.7);
                        &:hover{
                            background-color:rgba(204,0,0,1);
                        }
                    }         
                }
            }
        }
    }
    .payment {
        border:0px;
        width:95%;
        cursor:pointer;
        padding:15px 0px;
        font-size:1.1em;
        font-weight:700;
        background-color:rgba(204,204,204,0.7);
        &:hover{
            background-color:rgba(204,204,204,1);
        }
        &:active{
            background-color:rgba(0,0,0,1);
            color:#fff;
        }
    }
}

@media only screen and (max-width:768px){
    .store__cart {
        width:180px;
        padding-left:10px;
    }
}