.store__catalogue {
    ul {
        display:flex;
        flex-wrap:wrap;
        padding:0px;
        margin-top: 10px;
        li {
            list-style:none;
            width:20%;
            &:hover{
                z-index:9;
            }
            button {
                padding:5px;
                background-color:#fff;
                border:0px;
                cursor:pointer;
                display:flex;
                flex-direction:column;
                height:100%;
                &:hover {
                    transform: scale(1.2) rotate(-8deg);
                    transition:0.1s;
                    box-shadow:0px 1px 5px #666;               
                }
                &:active {
                    background-color:rgba(0,0,0,0.6);
                    color:#fff;
                }
                img {
                    width:100%;
                    flex-grow:1;
                }
                p {
                    width:100%;
                    text-align:center;
                    font-size:1em;
                    height:30px;
                }
                strong {
                    display:block;
                    margin-bottom:3px;
                }
            }
        }
    }
    .notification {
        margin:0px;
    }
}

@media only screen and (max-width:480px){
    .store__catalogue {
        ul {
            li {
                width:100%;
            }
        }
    }
}