<div class="store__catalogue">
  <p class="notification">{{notification}}</p>
  <ul>
    <li *ngFor="let item of catalogue">
      <button (click)="addToCart(item.name, item.hp)">
          <img src="{{item.imageUrl}}" alt="{{item.name}}" />
          <p><strong>{{item.name}}</strong> ${{item.hp}}</p>    
      </button>
    </li>
  </ul>
</div>